<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slider VueJs</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <main id="root">
        <div class="container">
            <div class="row">
                <div class="col slider_container">
                    <!-- sezionde img grandi  -->
                    <div class="left_side_container">
                        <div class="single_image" :class="i === currentActiveImage ? 'active' : '' " v-for="image, i in imagesList">
                            <img v-bind:src="image.url" :alt="'Immagine' + (i + 1)">
                            <div class="text">
                                <h3>{{image.titolo}}</h3>
                                <p>{{image.descrizione}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="right_side_container">
                        <div class="image_small" :class="k === currentActiveImage ? 'active' : '' " v-for="images, k in imagesList">
                            <img v-bind:src="images.url" :alt="'Immagine' + (k + 1)">
                        </div>
                        
                        <button class="freccia_su" @click="onPrevClick"><i class="fas fa-caret-up"></i></button>
                        <button class="freccia_giu" @click="onNextClick"><i class="fas fa-caret-down"></i></button>
                       
                    </div>
                  
                </div>
            </div>
        </div>
    </main>
    <script src="js/script.js"></script>
</body>
</html>